.btn {
  text-transform: uppercase;
  font-family: $base__font-family;
  display: inline-block;
  vertical-align: top;
  color: #371be1;
  background-color: #fff;
  font-size: rem(20);
  line-height: 1;
  font-weight: 500;
  border: none;
  padding: 0;
  border-radius: 5px;
  padding: 13px 21px 11px 21px;
  cursor: pointer;
  &:hover {
    color: #371be1;
  }

  &:focus {
    color: #371be1;
  }
}

.btn--blue {
  color: #fff;
  background-color: #371be1;
  padding: 13px 21px 11px 21px;


  &:hover {
    color: #fff;
    background-color: lighten(#371be1, 4%);
  }

  &:focus {
    color: #fff;
  }
}