.btn {
  text-transform: uppercase;
  font-family: $base__font-family;
  display: inline-block;
  vertical-align: top;
  color: $blue;
  background-color: #fff;
  font-size: rem(20);
  line-height: 1;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: rem(13) rem(21) rem(11) rem(21);
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  &:hover, &:focus {
    color: $blue;
    opacity: .9;
  }
}

.btn--blue {
  color: $white;
  background-color: $blue;
  padding: rem(13) rem(21) rem(11) rem(21);


  &:hover, &:focus {
    color: $white;
    background-color: $blue-lighten;
  }
}