.companyLovers {
  background-color: $purple-pale;
  padding-top: rem(70);
  padding-bottom: rem(70);

  @media(max-width: $xs-max-width) {
    padding-bottom: rem(40);
  }

  .w-100 {
    display: none;

    @media(max-width: $xs-max-width) {
      display: block;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: rem(50);

    h2 {
      text-transform: uppercase;
      font-size: rem(18);
      line-height: rem(31);
      font-weight: 700;
    }
  }

  &__items {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__feature {
    text-align: center;
    flex-basis: 25%;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 55%;
      left: calc(100% - 13px);
      width: 26px;
      height: 4px;
      background-color: $blue;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @media(max-width: $sm-max-width) {
      &::after {
        display: none;
      }
    }

    @media(max-width: $xs-max-width) {
      flex-basis: 50%;
      margin-bottom: rem(20);

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }

  &__featureName {
    color: #301cdd;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(22);
    line-height: rem(34);
  }

  &__featureIcon {
    margin: 0 auto;
    width: rem(140);
    height: rem(140);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media(max-width: $md-max-width) {
      width: rem(120);
      height: rem(120);
    }

    @media(max-width: $sm-max-width) {
      width: rem(110);
      height: rem(110);
    }

    &--fast {
      background-image: url(../../assets/img/fast.jpg);
    }

    &--secure {
      background-image: url(../../assets/img/secure.jpg);
    }

    &--insured {
      background-image: url(../../assets/img/insured.jpg);
    }

    &--easy {
      background-image: url(../../assets/img/private.jpg);
    }
  }
}