@keyframes smallscale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

.debitPromo {
  padding-top: rem(100);
  padding-bottom:rem( 60);
  overflow-x: hidden;

  @media(max-width: $xl-max-width) {
    padding-top:rem( 80);
    padding-bottom:rem( 50);
  }

  @media(max-width: $md-max-width) {
    padding-top:rem( 70);
    padding-bottom:rem( 40);
  }

  @media(max-width: $sm-max-width) {
    padding-top:rem( 60);
    padding-bottom:rem( 40);
  }

  @media(max-width: $xs-max-width) {
    padding-top:rem( 50);
    padding-bottom:rem( 20);
  }


  &__title {
    margin: 0 auto rem(20);
    text-align: center;
    width: 46.4%;

    h2 {
      color: #000;
      font-weight: 700;
      font-size: rem(36);
      line-height: rem(50);

      @media(max-width: $xl-max-width) {
        font-size: rem(30);
        line-height: rem(44);
      }

      @media(max-width: $sm-max-width) {
        font-size: rem(28);
        line-height: rem(42);
      }

      @media(max-width: $sm-max-width) {
        font-size: rem(25);
        line-height: rem(39);
      }
    }

    @media(max-width: $md-max-width) {
      width: 60%;
    }

    @media(max-width: $sm-max-width) {
      width: 70%;
    }

    @media(max-width: $xs-max-width) {
      width: 100%;
      padding-left: rem(20);
      padding-right: rem(20);
      margin-bottom: rem(10);
    }
  }

  &__descr {
    text-align: center;
    width: 62%;
    margin: 0 auto;
    margin-bottom: rem(39);
    position: relative;
    z-index: 3;

    p {
      font-size: rem(18);
      line-height: rem(31);

      @media(max-width: $md-max-width) {
        font-size: rem(17);
        line-height: rem(30);
      }

      @media(max-width: $sm-max-width) {
        font-size: rem(16);
        line-height: rem(29);
      }

      @media(max-width: $xs-max-width) {
        font-size: rem(15);
        line-height: rem(28);
      }
    }

    @media(max-width: $xl-max-width) {
      width: 67%;
      margin-bottom: rem(30);
    }

    @media(max-width: $md-max-width) {
      width: 70%;
      margin-bottom: rem(20);
    }

    @media(max-width: $sm-max-width) {
      width: 85%;
      margin-bottom: rem(20);
      padding-left: rem(20);
      padding-right: rem(20);
    }

    @media(max-width: $xs-max-width) {
      width: 100%;
    }
  }

  &__partners {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: rem(20);
  }

  &__partner {

    &:first-child {
      margin-left: auto;
      margin-right: rem(30);
    }

    &:last-child {
      margin-right: auto;
    }
  }

  &__cardWrap {
    width: 100%;
  }

  &__card {
    position: relative;
    left: 32px;
    margin: 0 auto;
    width: 586px;
    height: 455px;
    background-size: 586px 455px;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/card_form@1x.png);
    overflow: hidden;

    @media (min-resolution: 1.5dppx) {
      background-image: url(../../assets/img/card_form@2x.png);
    }

    @media(max-width: $sm-max-width) {
      width: 556px;
      height: 432px;
      background-size: 556px 432px;
    }

    @media(max-width: 575px) {
      width: 320px;
      height: 249px;
      background-size: 320px 249px;
      left: 8px;
    }
  }

  &__cardBg {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    animation-name: smallscale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    background-image: url(../../assets/img/card_form_bg@1x.jpg);
    z-index: -1;

    @media (min-resolution: 1.5dppx) {
      background-image: url(../../assets/img/card_form_bg@2x.jpg);
    }

    @media(max-width: 575px) {
      width: 290px;
      top: 5px;
      height: 220px;
      right: 15px;
    }
  }

}

