.distrubution {

  .col-lg-6 {
    .distrubution__table {
      margin-bottom: rem(50);
    }

    &:last-child {
      .distrubution__table {
        margin-bottom: 0;
      }
    }
  }

  &__table {
    tr {
      td {
        &:nth-child(1) {
          width: 6%;
        }
        &:nth-child(2) {
          width: 62%;
        }

      }
    }
  }
}