.ecosystem {
  .col-md-6 {
    &:last-child {
      .ecosystem__item {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: rem(50);
  }

  &__item {
    @media (max-width: $md-max-width) {
      margin-bottom: rem(35);
    }
  }

  &__itemNumber {
    display: inline-block;
    background-color: $purple-light;
    width: rem(54);
    height: rem(54);
    font-size: rem(22);
    line-height: 1;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__itemTitle {
    margin-bottom: rem(30);
  }

  &__titleText {
    display: inline-block;
    position: relative;
    padding-left: rem(80);
  }
}