@keyframes progress {
  0% {
    stroke-dasharray: 0 250;
  }
}

.features {
  padding-top: rem(134);
  padding-bottom: rem(134);

  @media(max-width: 575px) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }

  &__progressBar {
    width: 90px;
    height: 100%;
    position: relative;
    top: -13px;
    left: 46%;
    transform: translateX(-50%);

    @media(max-width: 575px) {
      display: none;
    }
  }

  &__progressChart {
    width: 90px;
    height: 90px;
    stroke: $blue;
    position: relative;
    svg {
      position: relative;
      z-index: 20;
      transform: rotate(180deg) translateZ(0);
    }
  }

  &__circleBg {
    fill: none;
    stroke-width: 6px;
    stroke: $purple-light;
  }

  &__circle {
    fill: none;
    stroke: $purple-light;
    stroke-width: 6px;
  }

  &__progressNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-size: rem(30);
    color: $blue;
    font-weight: 700;
  }

  &__progressLine {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 84px;
    bottom: -5px;
    width: 6px;
    background-color: $purple-light;
    z-index: 10;

    &--rounded {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;
    }
  }

  &__progressLineFill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: $blue;
    transition: bottom 0.7s linear 0.7s;
  }

  &__item {

    &.animate {

      .features__circle {
        stroke-linecap: round;
        stroke: $blue;
        animation: progress 0.7s linear forwards;
      }

      .features__progressLineFill {
        bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: rem(34);
    padding-top: 19px;

    @media(max-width: 575px) {
      padding-top: 0;
    }

    h2 {
      font-size: rem(24);
      line-height: rem(34);
      font-weight: 700;
    }
  }

  &__descr {
    padding-bottom: rem(70);
  }

  &__itemText {

    p {
      line-height: rem(30);
      font-size: rem(18);

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media(max-width: $md-max-width) {
      margin-bottom: rem(44);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $purple-light;
    padding-top: rem(43);
    padding-left: rem(43);
    padding-bottom: rem(43);
    padding-right: rem(43);
    margin-right: rem(70);

    @media(max-width: $md-max-width) {
      margin-right: 0;
    }
  }

  &__listItem {
    display: block;
    font-size: rem(16);
    line-height: rem(26);
    margin-bottom: rem(10);
    font-weight: 500;
    position: relative;
    padding-left: rem(40);

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '—';
      position: absolute;
      left: 0;
    }
  }
}