.featuresDescr {
  padding-top: rem(100);

  @media(max-width: $xl-max-width) {
    padding-top:rem(80);
  }

  @media(max-width: $md-max-width) {
    padding-top:rem(70);
  }

  @media(max-width: $sm-max-width) {
    padding-top:rem(60);
  }

  @media(max-width: $xs-max-width) {
    padding-top:rem(50);
  }

  &__item {
    padding-right: rem(70);
    margin-bottom: rem(50);

    @media (max-width: $xl-max-width) {
      padding-right: rem(50);
    }

    @media (max-width: $md-max-width) {
      padding-right: rem(30);
    }

    @media(max-width: $sm-max-width) {
      padding-right: 0;
    }
  }

  &__itemTitle {
    margin-bottom: rem(32);

    h3 {
      color: $black;
      font-size: rem(17);
      line-height: rem(28);
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__itemText {
    text-align: justify;
    p {
      color: $gray-purple;
      font-size: rem(16);
      line-height: rem(30);
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    padding-left: 15px;
    color: $gray-purple;
  }

  &__orderedItem {
    font-size: rem(16);
    line-height: rem(30);
  }
}