.icodate {
  &__titleBadge {
    margin-left: rem(15);
    vertical-align: bottom;
  }

  &__table {
    // min-width: 360px;
    tr {
      td {
        &:nth-child(1) {
          width: 37%;
        }
      }
    }
  }
}