.page-header {
  background-color: #371be1;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 142px;
  overflow: hidden;

  @media (max-width: $xl-max-width) {
    padding-top: 160px;
    padding-bottom: 100px;
  }

  @media (max-width: $md-max-width) {
    padding-top: 140px;
    padding-bottom: 420px;
  }

  @media(max-width: $sm-max-width) {
    padding-top: 120px;
  }

  @media(max-width: $xs-max-width) {
    padding-top: 90px;
  }
}

.page-header__title {
  margin-top: 36px;
  margin-bottom: 38px;

  h1 {
    font-weight: 700;
    font-size: rem(45);
    line-height: rem(60);
    letter-spacing: 0.4px;
    margin-bottom: 0;

    @media (max-width: $xl-max-width) {
      font-size: rem(38);
      line-height: rem(53);
    }

    @media (max-width: $md-max-width) {
      font-size: rem(45);
      line-height: rem(60);
    }

    @media (max-width: $sm-max-width) {
      font-size: rem(38);
      line-height: rem(53);
    }

    @media (max-width: $xs-max-width) {
      font-size: rem(32);
      line-height: rem(47);
    }
  }

  @media(max-width: $xl-max-width) {
    margin-bottom: 30px;
  }

  @media(max-width: $md-max-width) {
    margin-bottom: 25px;
  }
}

.page-header__promo-descr {
  margin-bottom: 51px;
  p {
    margin-bottom: 0;
    opacity: 0.5;
    font-size: rem(27);
    line-height: rem(39);

    @media(max-width: $xl-max-width) {
      font-size: rem(21);
      line-height: rem(33);
    }
  }

  @media(max-width: $xl-max-width) {
    margin-bottom: 50px;
  }

  @media(max-width: $sm-max-width) {
    margin-bottom: 40px;
  }
}

.page-header__started-link {
  margin-bottom: 120px;

  @media(max-width: $xl-max-width) {
    font-size: rem(17);
    margin-bottom: 50px;
  }

  @media(max-width: $md-max-width) {
    margin-bottom: 40px;
    font-size: rem(20);
  }

  @media(max-width: $md-max-width) {
    font-size: rem(17);
  }

  @media(max-width: $xs-max-width) {
    font-size: rem(15);
    margin-bottom: 40px;
  }
}

.page-header__mobile-apps {
  p {
    margin-bottom: 28px;
    opacity: 0.5;
    font-size: rem(18);
    line-height: rem(26);
    font-weight: 500;

    @media(max-width: $xl-max-width) {
      margin-bottom: 21px;
    }

    @media(max-width: $md-max-width) {
      font-size: rem(16);
      line-height: rem(24);
    }

    @media(max-width: $xs-max-width) {
      font-size: rem(15);
      line-height: rem(23);
    }
  }
}

.page-header__mobile-store {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  &--google-play {
    img {
      width: 139px;
      height: 41px;
    }
  }

  &--app-store {
    img {
      width: 117px;
      height: 41px;
    }
  }
}

.page-header__stats {
  position: relative;
  height: calc(100% + 142px);
  box-sizing: content-box;

  @media(max-width: $xl-max-width) {
    height: calc(100% + 100px);
  }

  @media(max-width: $md-max-width) {
    margin-top: 30px;
    height: calc(100% + 420px);
  }
}

.page-header__stats-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(18);
  position: absolute;
  right: 50px;
  bottom: 50px;

  @media(max-width: $xl-max-width) {
    font-size: rem(16);
  }

  @media(max-width: $md-max-width) {
    font-size: rem(15);
    top: 10px;
    left: 10px;
    right: auto;
    bottom: auto;
  }
}

.page-header__stats-item {
  display: block;
  width: 100px;
  background-color: rgba(#8f7fee, 0.11);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  padding-top: 22px;
  top: 100%;

  @media(max-width: $xl-max-width) {
    width: 90px;
  }

  @media(max-width: $md-max-width) {
    width: 100px;
  }

  @media(max-width: $sm-max-width) {
    width: 85px;
  }

  @media(max-width: $xs-max-width) {
    width: 70px;
  }

  &--btg {
    left: 1.7%;
    z-index: 1;
  }

  &--emc2 {
    z-index: 2;
    left: 11.5%;
  }

  &--powr {
    z-index: 3;
    left: 20.6%;
  }

  &--iota {
    z-index: 4;
    left: 32.3%;
  }

  &--xmr {
    z-index: 5;
    left: 39.1%;
  }

  &--eos {
    z-index: 6;
    left: 57.8%;
  }

  &--neo {
    z-index: 7;
    left: 63.9%;
  }

  &--nxt {
    z-index: 8;
    left: 75.5%;
  }

  &--xpr {
    z-index: 9;
    left: 81.9%;
  }
}

.page-header__stats-item-name {
  display: block;
  text-align: center;
  color: #fff;
  font-size: rem(18);
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.2;
  margin-bottom: 5px;

  @media(max-width: $xl-max-width) {
    font-size: rem(16);
  }

  @media(max-width: $md-max-width) {
    font-size: rem(15);
  }

  @media(max-width: $xs-max-width) {
    font-size: rem(12);
  }
}

.page-header__stats-item-percents {
  display: block;
  text-align: center;
  color: #fff;
  font-size: rem(18);
  line-height: 1;
  font-weight: 700;
  opacity: 0.2;

  @media(max-width: $xl-max-width) {
    font-size: rem(16);
  }

  @media(max-width: $md-max-width) {
    font-size: rem(15);
  }

  @media(max-width: $xs-max-width) {
    font-size: rem(12);
  }
}

