.pageFooter {
  background-color: $purple-light;

  &__wrapper {
    padding-top: rem(48);
    padding-bottom: rem(24);
    border-bottom: 1px solid #e6e6e6;
  }

  &__nav {
    margin-bottom: rem(25);
  }

  &__navTitle {
    font-weight: 500;
    font-size: rem(14);
    line-height: 1;
    margin-bottom: rem(22);

    @media(max-width: 575px) {
      margin-bottom: rem(10);
    }
  }

  &__navList {
    margin: 0;
    padding: 0;
    list-style: none;

    @media(max-width: $xs-max-width) {
      margin-bottom: rem(30);
    }
  }

  &__navItem {
    margin-bottom: rem(10);
  }

  &__description {
    max-width: 85%;
    font-size: 12px;
    margin-top: 5px;
  }

  &__form {
    margin-bottom: rem(15);
  }

  &__input {
    color: #000;
    border: 1px solid #e5e8ed;
    border-radius: 3px;
    padding-left: 10px;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;

    @media(max-width: $xs-max-width) {
      width: calc(100% - 120px);
    }
  }

  &__btn {
    margin-right: 5px;
    background-color: #e3e9f5;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    line-height: 1;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;

    &:focus {
      outline: none;
    }
  }

  &__bottomPanel {
    padding-top: rem(34);
    padding-bottom: rem(34);
  }

  &__navBottom {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;

    @media(max-width: 575px) {
      display: block;
      margin-bottom: rem(10);
    }
  }

  &__bottomItem {
    display: inline-block;
    vertical-align: top;
    margin-top: rem(11);
    margin-right: rem(16);

    @media(max-width: 575px) {
      display: block;
      margin-bottom: rem(7);
    }
  }

  &__bottomLink {
    color: #000;
    font-weight: 500;
  }

  &__logo {
    position: relative;
    top: -7px;
    padding-bottom: rem(25);
    width: 145px;
    height: 33px;
    display: inline-block;
    vertical-align: top;
    margin-right: rem(28);
    margin-bottom: rem(12);

    span {
      display: inline-block;
      vertical-align: top;
      width: 145px;
      height: 49px;
      background-repeat: no-repeat;
      background-size: 145px 49px;
      background-image: url(../../assets/img/logo_blue.png);
    }
  }

  &__copy {
    text-align: right;
    margin-bottom: 5px;
    font-weight: 500;

    @media(max-width: $sm-max-width) {
      text-align: left;
    }

    @media(max-width: 575px) {
      text-align: left;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}