.page-footer {
  background: #f7f6fb;

  &__wrapper {
    padding-top: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__nav {
    margin-bottom: 25px;
  }

  &__nav-title {
    font-weight: 500;
    font-size: rem(14);
    line-height: 1;
    margin-bottom: 22px;

    @media(max-width: 575px) {
      margin-bottom: 10px;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media(max-width: $xs-max-width) {
      margin-bottom: 30px;
    }
  }

  &__nav-item {
    margin-bottom: 10px;
  }

  .page-footer__nav-link {

  }

  &__form {
    margin-bottom: 15px;
  }

  &__input {
    color: #000;
    border: 1px solid #e5e8ed;
    border-radius: 3px;
    padding-left: 10px;
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;

    @media(max-width: $xs-max-width) {
      width: calc(100% - 120px);
    }
  }

  &__btn {
    margin-right: 5px;
    background-color: #e3e9f5;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    line-height: 1;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    &:focus {
      outline: none;
    }
  }

  &__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__social-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  &__social-link {
    font-size: 0;
  }

  &__social-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 1;
    }

    &--fb {
      background-image: url(../../assets/img/fb@1x.jpg);
      background-size: 20px 20px;

      @media (min-resolution: 1.5dppx) {
        background-image: url(../../assets/img/fb@2x.jpg);
      }
    }

    &--tw {
      background-image: url(../../assets/img/tw@1x.jpg);
      background-size: 22px 20px;
      background-position: center 4px;
      @media (min-resolution: 1.5dppx) {
        background-image: url(../../assets/img/tw@2x.jpg);
      }
    }

    &--btc {
      background-image: url(../../assets/img/btc@1x.jpg);
      background-size: 20px 20px;
      background-position: center 5px;

      @media (min-resolution: 1.5dppx) {
        background-image: url(../../assets/img/btc@2x.jpg);
      }
    }

    &--rd {
      background-image: url(../../assets/img/reddit@1x.jpg);
      background-size: 20px 20px;
      background-position: center 5px;

      @media (min-resolution: 1.5dppx) {
        background-image: url(../../assets/img/reddit@2x.jpg);
      }
    }

    &--sl {
      background-image: url(../../assets/img/slack@1x.jpg);
      background-size: 20px 20px;
      background-position: center 4px;

      @media (min-resolution: 1.5dppx) {
        background-image: url(../../assets/img/slack@2x.jpg);
      }
    }
  }

  &__bottom-panel {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  &__nav-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;

    @media(max-width: 575px) {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__bottom-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
    margin-right: 16px;

    @media(max-width: 575px) {
      display: block;
      margin-bottom: 7px;
    }
  }

  &__bottom-link {
    color: #000;
    font-weight: 500;
  }

  &__logo {
    position: relative;
    padding-bottom: rem(12);
    width: 145px;
    height: 33px;
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;
    // box-sizing: content-box;
    margin-bottom: 12px;

    span {
      display: inline-block;
      vertical-align: top;
      width: 145px;
      height: 33px;
      background-repeat: no-repeat;
      background-size: 145px 33px;
      background-image: url(../../assets/img/bottom-logo@1x.png);

      @media (min-resolution: 1.5dppx) {
        background-image: url(../../assets/img/bottom-logo@2x.png);
      }
    }
  }

  &__copy {
    text-align: right;
    margin-bottom: 5px;
    font-weight: 500;

    @media(max-width: $sm-max-width) {
      text-align: left;
    }

    @media(max-width: 575px) {
      text-align: left;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
}