.typo {
  font-size: rem(16);
  overflow: hidden;
  margin-top: rem(-88);

  @media(max-width: $md-max-width) {
    margin-top: rem(12);
  }


  &__wrapper {
    padding: rem(11) rem(130) rem(70);
    background-color: $white;
    margin-bottom: rem(50);
    border: 3px solid $purple-light;
    border-radius: 10px;
    background-image: url(../../assets/img/svg/typo-bg.svg);
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: 0 250px;
    position: relative;
    will-change: transform;

    @media (max-width: $md-max-width) {
      padding: 0;
      border: 0;
      border-bottom: 3px solid $purple-light;
      padding-bottom: rem(60);
      border-radius: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: rem(30);
    margin-top: rem(30);
    line-height: 1.8;
  }

  p {
    line-height: 1.8;
    margin-bottom: rem(20);
  }

  &__highlited {
    font-weight: bold;
    font-size: rem(32);
    text-align: center;
    color: $blue;
    margin: rem(80) 0;
    span {
      border-bottom: 5px solid $blue-bg;
    }
  }

  &__img {
    margin: rem(40) 0 rem(50);
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 90%;

      @media ($md-max-width) {
        max-width: 100%;
      }
    }

    &--fullWidth {
      margin-top: rem(70);

      @media(max-width: $md-max-width) {
        margin-top: 0;
      }

      img {
        max-width: 110%;

        @media(max-width: $md-max-width) {
          max-width: 100%;
        }
      }
    }
  }

  ul:not(.nav-pills, .registration__stepsItem), ol {
    list-style: none;
    li {
      margin-bottom: rem(10);
      line-height: 1.8;
    }
  }

  &__customLi {
    padding-left: 25px;
    position: relative;
    padding-top: rem(10);
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      font-size: rem(16);
      text-align: center;
      font-weight: bold;
      border: 2px solid $blue;
      border-radius: 60px;
      line-height: 38px;
      color: $blue;
      background: $white;
    }
  }

  &__quote {
    background: $blue;
    padding: rem(100) rem(130);
    margin: rem(60) rem(-130);
    font-weight: bold;
    color: $white;
    font-size: rem(36);
    background-image: url(../../assets/img/content/quote.png);
    background-repeat: no-repeat;
    background-position: right 70px;
    background-size: 40%;
    span {
      max-width: 680px;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-custom {
    color: $white;
    background: $blue;
    white-space: normal;
    &:hover {
      background: lighten($blue, 6%);
    }
  }

  &__dots {
    margin: rem(60) 0;
    text-align: center;
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: darken($purple-light, 6%);
      border-radius: 8px;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        left: -25px;
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: darken($purple-light, 6%);
        border-radius: 8px;
      }
      &:after {
        position: absolute;
        top: 0;
        right: -25px;
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: darken($purple-light, 6%);
        border-radius: 8px;
      }
    }
  }

  &__countBlock {
    padding: rem(30) rem(50) rem(30) rem(40);
    border-radius: 8px;
    background: $purple-light;
    margin-bottom: rem(30);
    min-height: rem(122);
    position: relative;

    &:hover {
      .typo__countBlock__count {
        border-color: $blue;
        background: $blue;
        color: $white;
      }
    }

    &__count {
      font-size: rem(36);
      float: left;
      width: 60px;
      background: $purple-light;
      text-align: center;
      border-radius: 50%;
      border: 3px solid white;
      height: 60px;
      line-height: 58px;
      font-weight: 700;
      margin-top: rem(7);
      transition: all .2s ease-in-out;
    }

    &__content {
      margin-left: 90px;
      line-height: 1.8;
      h5 {
        max-width: rem(900);
      }
    }
  }

  &__aniCard {
    background-color: $purple-light;
    padding-left: rem(30);
    padding-right: rem(30);
    padding-bottom: rem(4);
    padding-top: rem(20);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    transition: color 0.2s;

    h5 {
      margin-top: 0;
      margin-bottom: rem(18);
      color: $blue;
      transition: color 0.2s;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100%;
      background-color: $blue;
      transition: right 0.2s;
    }

    &:hover {
      color: $white;

      h5 {
        color: $white;
      }

      &::before {
        right: 0;
      }
    }
  }

  &__cardTextWrapper {
    position: relative;
    z-index: 10;
  }
}