.usecases {
  margin-bottom: 120px;

  &__item {
    padding-top: rem(20);
    padding-bottom: rem(20);
    border-right: 1px solid #e6e5ea;

    @media (max-width: $sm-max-width) {
      border: none;
    }

    &--unbordered {
      border: none;
    }
  }

  &__itemWrapper {
    display: inline-block;
    vertical-align: top;
  }

  &__itemTitle {
    margin-bottom: rem(20);
  }

  &__itemList {
    padding-left: 0;
    li {
      list-style: none;
    }
  }

  &__text {
    line-height: 2;
    padding-right: rem(30);
    font-size: rem(16);
  }
}