<section class="companyLovers">
  <div class="container-fluid">
    <div class="row">
      <div class="companyLovers__title">
        <h2>MORE THAN 1 THOUSAND COMPANIES AND 1 MILLION PEOPLES LOVE MEDUSA COIN.<br>
          AS FEATURED IN:</h2>
      </div>
      <ul class="companyLovers__list">
        <li class="companyLovers__item">
          <img src="../../assets/img/financial-daily@1x.png" alt="financial daily logo"
               srcset="../../assets/img/financial-daily@2x.png 2x">
        </li>
        <li class="companyLovers__item">
          <img src="../../assets/img/daily-graph@1x.png" alt="the daily graph logo"
               srcset="../../assets/img/daily-graph@2x.png 2x">
        </li>
        <li class="companyLovers__item">
          <img src="../../assets/img/coin-toss@1x.png" alt="coin toss logo"
               srcset="../../assets/img/coin-toss@2x.png 2x">
        </li>
        <li class="companyLovers__separator"></li>
        <li class="companyLovers__item">
          <img src="../../assets/img/economics@1x.png" alt="economocs logo"
               srcset="../../assets/img/economics@2x.png 2x">
        </li>
        <li class="companyLovers__item">
          <img src="../../assets/img/money-today@1x.png" alt="money today logo"
               srcset="../../assets/img/money-today@2x.png 2x">
        </li>
      </ul>
    </div>
  </div>
</section>