<section class="companyLovers">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="companyLovers__title">
        <h2>
          MEDUSA EXCHANGE BENEFITS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="companyLovers__items">
        <div class="companyLovers__feature">
          <span class="companyLovers__featureName">Easy</span>
          <div class="companyLovers__featureIcon companyLovers__featureIcon--easy"></div>
        </div>
        <div class="companyLovers__feature">
          <span class="companyLovers__featureName">High value</span>
          <div class="companyLovers__featureIcon companyLovers__featureIcon--fast"></div>
        </div>
        <div class="companyLovers__feature">
          <span class="companyLovers__featureName">Secure</span>
          <div class="companyLovers__featureIcon companyLovers__featureIcon--secure"></div>
        </div>
        <div class="companyLovers__feature">
          <span class="companyLovers__featureName">Insured</span>
          <div class="companyLovers__featureIcon companyLovers__featureIcon--insured"></div>
        </div>
      </div>
    </div>
  </div>
</section>