<section class="debitPromo">
  <div class="container-fluid">
    <div class="row">
      <div class="debitPromo__title">
        <h2>
          Buy up to $2m of cryptocurrencies using your normal debit card
        </h2>
      </div>
      <div class="debitPromo__descr">
        <p>
          Join our waiting list and we'll let you know when we are ready. You can be among the first to enjoy the
          advantages of completing easy, safe and insured transactions in large quantities.
        </p>
      </div>
      <div class="debitPromo__cardWrap">
        <div class="debitPromo__card">
          <img src="../../assets/img/card.jpg" alt="card image">
        </div>
      </div>
    </div>
  </div>
</section>