<section class="features">
    <div class="features__item">
        <div class="container-fluid">
            <div class="row">
                <div class="features__progress col-sm-2">
                    <div class="features__progressBar">
                        <div class="features__progressChart">
                            <svg viewBox="0 0 90 90">
                                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                            </svg>
                            <span class="features__progressNumber">1</span>
                        </div>
                        <div class="features__progressLine">
                            <div class="features__progressLineFill"></div>
                        </div>
                    </div>
                </div>
                <div class="features__content col-sm-10">
                    <div class="row">
                        <div class="features__title col-sm-12">
                            <h2>The cryptocurrency market is growing exponentially.</h2>
                        </div>
                        <div class="w-100"></div>
                        <div class="features__descr col-md-12">
                            <div class="row">
                                <div class="features__itemText col-lg-5">
                                    <p>
                                      Bitcoin only controls 46.7% of the entire cryptocurrency market.
                                    </p>
                                    <p>
                                      There are a few other well-known coins such as Ethereum and Litecoin. The rest of the market is made up of hundreds of other coins, known collectively as ALT (Alternative) coins.
                                    </p>
                                </div>
                                <div class="features__briefly col-lg-6 ml-md-auto">
                                    <ul class="features__list">
                                        <li class="features__listItem">
                                          Wednesday 24th January Bitcoin price $11,4150.
                                        </li>
                                        <li class="features__listItem">
                                          Market cap of all cryptocurrencies is $146,048,631,744 and in the last 24 hour period $5,621,533,991 was traded.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features__item">
        <div class="container-fluid">
            <div class="row">
                <div class="features__progress col-sm-2">
                    <div class="features__progressBar">
                        <div class="features__progressChart">
                            <svg viewBox="0 0 90 90">
                                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                            </svg>
                            <span class="features__progressNumber">2</span>
                        </div>
                        <div class="features__progressLine">
                            <div class="features__progressLineFill"></div>
                        </div>
                    </div>
                </div>
                <div class="features__content col-sm-10">
                    <div class="row">
                        <div class="features__title col-sm-12">
                            <h2>Cryptocurrency has entered the mainstream.</h2>
                        </div>
                        <div class="w-100"></div>
                        <div class="features__descr col-md-12">
                            <div class="row">
                                <div class="features__itemText col-lg-5">
                                    <p>
                                      The time to get involved is now.
                                      In 2018 start-up companies can easily launch their own coin and sell it in
                                      a crowd funding exercise which has become known as an ICO
                                      (Initial Coin Offering.)  But it’s not just start-ups.
                                      Many well-known companies such as Telegram
                                      are launching ICOs in 2018.
                                    </p>
                                </div>
                                <div class="features__briefly col-lg-6 ml-lg-auto">
                                    <ul class="features__list">
                                        <li class="features__listItem">
                                          The returns on buying tokens of a new ICO can be spectacular,
                                          and very fast. Ethereum, one of the world’s first ICOs started out at 10c,
                                          and just 2 years later, it is trading hands at over $1,000.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features__item">
        <div class="container-fluid">
            <div class="row">
                <div class="features__progress col-sm-2">
                    <div class="features__progressBar">
                        <div class="features__progressChart">
                            <svg viewBox="0 0 90 90">
                                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                            </svg>
                            <span class="features__progressNumber">3</span>
                        </div>
                        <div class="features__progressLine">
                            <div class="features__progressLineFill"></div>
                        </div>
                    </div>
                </div>
                <div class="features__content col-sm-10">
                    <div class="row">
                        <div class="features__title col-sm-12">
                            <h2>Getting into the crypto economy is not easy.</h2>
                        </div>
                        <div class="w-100"></div>
                        <div class="features__descr col-md-12">
                            <div class="row">
                                <div class="features__itemText col-lg-5">
                                    <p>
                                      Before Medusa Exchange, the main route into an ICO was to buy Bitcoin or Ethereum
                                      first, then to trade this with an ICO company for some of its coins. If you didn’t
                                      have much Bitcoin and Ethereum or you didn’t want to sell the coins you did have,
                                      you were at a disadvantage. International
                                      investors without Bitcoin or Ethereum simply couldn’t safely buy ICO tokens in any significant volume.
                                    </p>
                                </div>
                                <div class="features__briefly col-lg-6 ml-lg-auto">
                                    <ul class="features__list">
                                        <li class="features__listItem">
                                          The main buyers of ICOs are currently “those who got in early”
                                          and already hold significant amounts of Ethereum and Bitcoin.
                                          Medusa Exchange allows sophisticated investors to enter the market directly,
                                          without moving the complication or delay.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="features__item">
    <div class="container-fluid">
      <div class="row">
        <div class="features__progress col-sm-2">
          <div class="features__progressBar">
            <div class="features__progressChart">
              <svg viewBox="0 0 90 90">
                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
              </svg>
              <span class="features__progressNumber">4</span>
            </div>
            <div class="features__progressLine features__progressLine--rounded">
              <div class="features__progressLineFill"></div>
            </div>
          </div>
        </div>
        <div class="features__content col-sm-10">
          <div class="row">
            <div class="features__title col-sm-12">
              <h2>The solution is Medusa Exchange.</h2>
            </div>
            <div class="w-100"></div>
            <div class="features__descr col-md-12">
              <div class="row">
                <div class="features__itemText col-lg-5">
                  <p>
                    Medusa Exchange is the alternative to worrying international bank transfers.
                    Investors can safely buy ultra-high amounts of any ICO token or cryptocurrency using their normal debit card.
                    To guarantee investor security, all trades are independently insured against fraud up to £2m a time.
                  </p>
                </div>
                <div class="features__briefly col-lg-6 ml-lg-auto">
                  <ul class="features__list">
                    <li class="features__listItem">
                      Bank transfers may be suitable up to a certain point but as value increases there is increasing risk of stoppages, blockages, or freezes of your money.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>