<section class="features">
  <div class="container-fluid">
    <div class="features__item features__item--first">
      <div class="row">
        <div class="offset-md-3 col-md-9 offset-sm-2 col-sm-10">
          <div class="features__item-title features__item-title--first">
            <h2>
              Why is it so hard to buy Crypto with your hard earned fiat money?
            </h2>
          </div>
        </div>
        <div class="col-sm-3 features__item-number features__item-number--first">
          <span>01</span>
        </div>
        <div class="col-lg-4 col-md-9 col-sm-9">
          <div class="features__item-descr">
            <div class="features__descr-text features__descr-text--first">
              <p>
                These ICO's you keep hearing about could be a great investment, but if you don't have Bitcoin or
                Ethereum, buying into them in any significant volume is nearly impossible.
              </p>
              <p>
                Medusa coin eliminates the risk faced by traditional acquiring services. As a result it lets you do the
                impossible.
              </p>
            </div>
          </div>
        </div>
        <div class="offset-lg-0 col-lg-4 offset-md-3 offset-sm-3">
          <ul class="features__descr-list features__descr-list--first">
            <li class="features__list-item">
              Register with Medusa Coin for free
            </li>
            <li class="features__list-item">
              Submit your ID (KYC)
            </li>
            <li class="features__list-item">
              Buy up to &pound;1m Medusa using your normal debit card
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="features__item features__item--second">
      <div class="row">
        <div class="offset-lg-3 col-lg-5 col-md-8 col-sm-8">
          <div class="features__item-descr">
            <div class="features__item-title features__item-title--second">
              <h2>
                Trade Medusa Coins on Assets Exchanges
              </h2>
            </div>
            <div class="features__descr-text features__descr-text--second">
              <p>
                Trade your Medusa at a gauranteed pricepoint for any of our supported ICO's or Cryptocurrencies.
              </p>
              <ul class="features__descr-list features__descr-list--second">
                <li class="features__list-item">
                  No more international bank transfers
                </li>
                <li class="features__list-item">
                  No doubt that your money has arrived
                </li>
                <li class="features__list-item">
                  Safe and unique process
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 features__item-number features__item-number--second">
          <span>02</span>
        </div>
      </div>
    </div>
    <div class="features__item features__item--third">
      <div class="row">
        <div class="offset-md-3 col-md-9 offset-sm-2 col-sm-10">
          <div class="features__item-title features__item-title--third">
            <h2>
              All the best ICO's with experts in the industry
            </h2>
          </div>
        </div>
        <div class="col-sm-3 features__item-number features__item-number--third">
          <span>03</span>
        </div>
        <div class="col-lg-4 col-md-9 col-sm-9">
          <div class="features__item-descr">
            <div class="features__descr-text features__descr-text--third">
              <p>
                Join our waiting list and we'll let you know when we are ready.
              </p>
              <p>
                Medusa coin eliminates the risk faced by traditional acquiring services. As a result it lets you do the
                impossible.
              </p>
            </div>
          </div>
        </div>
        <div class="offset-lg-0 col-lg-4 offset-md-3 offset-sm-3">
          <ul class="features__descr-list features__descr-list--third">
            <li class="features__list-item">
              Get the best prices in the best ICOs
            </li>
            <li class="features__list-item">
              Qualify for bonus coins
            </li>
            <li class="features__list-item">
              Get in before the masses
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="features__item features__item--fourth">
      <div class="row">
        <div class="offset-lg-3 col-lg-5 col-md-8 col-sm-8">
          <div class="features__item-descr">
            <div class="features__item-title features__item-title--second">
              <h2>
                Trade Medusa Coins on Assets Exchanges
              </h2>
            </div>
            <div class="features__descr-text features__descr-text--second">
              <p>
                Trade your Medusa at a gauranteed pricepoint for any of our supported ICO's or Cryptocurrencies.
              </p>
              <ul class="features__descr-list features__descr-list--second">
                <li class="features__list-item">
                  No more international bank transfers
                </li>
                <li class="features__list-item">
                  No doubt that your money has arrived
                </li>
                <li class="features__list-item">
                  Safe and unique process
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 features__item-number features__item-number--fourth">
          <span>04</span>
        </div>
      </div>
    </div>
  </div>
</section>