<section class="features">
  <div class="features__item">
    <div class="container-fluid">
      <div class="row">
        <div class="features__progress col-sm-2">
          <div class="features__progressBar">
            <div class="features__progressChart">
              <svg viewBox="0 0 90 90">
                <path class="features__circleBg"
                      d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                <path class="features__circle" stroke-dasharray="240, 240"
                      d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
              </svg>
              <span class="features__progressNumber features__progressNumber--withLogo"></span>
            </div>
            <div class="features__progressLine">
              <div class="features__progressLineFill"></div>
            </div>
          </div>
        </div>
        <div class="features__content col-sm-10">
          <div class="row">
            <div class="features__title col-sm-12">
              <h2>Ease of market entry</h2>
            </div>
            <div class="w-100"></div>
            <div class="features__descr col-md-12">
              <div class="row">
                <div class="features__itemText col-lg-5">
                  <p>
                    It is difficult to purchase large volumes of cryptocurrency or ICO tokens.
                  </p>
                  <p>
                    Whether established coins or ICO tokens, Medusa Exchange allows private and corporate investors to
                    purchase up to $2,000,000 of tokens using their existing bank card.
                  </p>
                </div>
                <div class="features__briefly col-lg-6 ml-md-auto">
                  <ul class="features__list">
                    <li class="features__listItem">
                      No maximum transaction values
                    </li>
                    <li class="features__listItem">
                      Daily or weekly purchasing limits removed
                    </li>
                    <li class="features__listItem">
                      Participate in ICOs with fiat and keep your tokens
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features__item">
    <div class="container-fluid">
      <div class="row">
        <div class="features__progress col-sm-2">
          <div class="features__progressBar">
            <div class="features__progressChart">
              <svg viewBox="0 0 90 90">
                <path class="features__circleBg"
                      d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                <path class="features__circle" stroke-dasharray="240, 240"
                      d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
              </svg>
              <span class="features__progressNumber features__progressNumber--withLogo"></span>
            </div>
            <div class="features__progressLine">
              <div class="features__progressLineFill"></div>
            </div>
          </div>
        </div>
        <div class="features__content col-sm-10">
          <div class="row">
            <div class="features__title col-sm-12">
              <h2>Speed of execution</h2>
            </div>
            <div class="w-100"></div>
            <div class="features__descr col-md-12">
              <div class="row">
                <div class="features__itemText col-lg-5">
                  <p>
                    Time is money. When you decide to make an investment or hear of an opportunity, the last thing you
                    want is to be delayed.
                  </p>
                  <p>
                    Our unique service ensures the speediest execution of high volume token purchases or sales for our
                    clients.
                  </p>
                </div>
                <div class="features__briefly col-lg-6 ml-lg-auto">
                  <ul class="features__list">
                    <li class="features__listItem">
                      No more missed buying opportunities
                    </li>
                    <li class="features__listItem">
                      No need to wait for increase of limits
                    </li>
                    <li class="features__listItem">
                      Lengthy wire transfers circumvented
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features__item">
    <div class="container-fluid">
      <div class="row">
        <div class="features__progress col-sm-2">
          <div class="features__progressBar">
            <div class="features__progressChart">
              <svg viewBox="0 0 90 90">
                <path class="features__circleBg"
                      d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                <path class="features__circle" stroke-dasharray="240, 240"
                      d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
              </svg>
              <span class="features__progressNumber features__progressNumber--withLogo"></span>
            </div>
            <div class="features__progressLine features__progressLine--rounded">
              <div class="features__progressLineFill"></div>
            </div>
          </div>
        </div>
        <div class="features__content col-sm-10">
          <div class="row">
            <div class="features__title col-sm-12">
              <h2>Peace of mind</h2>
            </div>
            <div class="w-100"></div>
            <div class="features__descr col-md-12">
              <div class="row">
                <div class="features__itemText col-lg-5">
                  <p>
                    Buying crypto currencies is risky. It is difficult to trust ICOs, exchanges or other counterparties
                    in a nascent market.
                  </p>
                  <p>
                    Enjoy the protection provided by Medusa Exchange on each one of your transactions and never worry
                    about your crypto purchases again.
                  </p>
                </div>
                <div class="features__briefly col-lg-6 ml-lg-auto">
                  <ul class="features__list">
                    <li class="features__listItem">
                      Insurance on every transaction
                    </li>
                    <li class="features__listItem">
                      Protection from fraud
                    </li>
                    <li class="features__listItem">
                      No need to trust third parties
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>