<section class="featuresDescr">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="featuresDescr__item">
          <div class="featuresDescr__itemTitle">
            <h3>Abstract</h3>
          </div>
          <div class="featuresDescr__itemText">
            <p>
              Medusa Exchange is a unique high value crypto currency payment service provider that makes buying, selling and managing large volumes of ICOs or established tokens simple for the first time. Medusa provides its clients the ability to acquire tokens with no crypto experience or skills so that their entry into the industry can be seamless and risk free.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="featuresDescr__item">
          <div class="featuresDescr__itemTitle">
            <h3>The problem</h3>
          </div>
          <div class="featuresDescr__itemText">
            <p>
              Purchasing large volume of crypto currencies is difficult, slow and risky. It is constantly associated with limits imposed by third parties which costs investors both time and money, especially when dealing with a volatile market where opportunities disappear quickly.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="featuresDescr__item">
          <div class="featuresDescr__itemTitle">
            <h3>The solution</h3>
          </div>
          <div class="featuresDescr__itemText">
            <p>
              Medusa technology eliminates these barriers by enabling clients, whether individuals or corporations, to buy large volume of crypto currencies with their existing bank card.
            </p>
            <p>
              The exchange offers a portfolio of upcoming ICOs as well as a selection of established coins for sale in volumes not previously seen in the industry and insures each transaction.
            </p>
            <p>
              The simple interface and process requires no crypto market skills to further eliminate barriers to entry for new market participants.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="featuresDescr__item">
          <div class="featuresDescr__itemTitle">
            <h3>Whats make us unique</h3>
          </div>
          <div class="featuresDescr__itemText">
            <ol class="featuresDescr__list">
              <li class="featuresDescr__orderedItem">
                High value crypto purchases of ICOs and established tokens
              </li>
              <li class="featuresDescr__orderedItem">
                Purchase of tokens made with the existing bank card of clients
              </li>
              <li class="featuresDescr__orderedItem">
                Insured transactions to eliminate the risk of fraud or bad actors
              </li>
              <li class="featuresDescr__orderedItem">
                Every transaction audited by licensed external third party auditor
              </li>
              <li class="featuresDescr__orderedItem">
                Unparalleled speed of large volume token acquisition
              </li>
              <li class="featuresDescr__orderedItem">
                Exclusive purchase deals with ICOs
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>