<section class="features">
    <div class="features__item">
        <div class="container-fluid">
            <div class="row">
                <div class="features__progress col-sm-2">
                    <div class="features__progressBar">
                        <div class="features__progressChart">
                            <svg viewBox="0 0 90 90">
                                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                            </svg>
                            <span class="features__progressNumber">1</span>
                        </div>
                        <div class="features__progressLine">
                            <div class="features__progressLineFill"></div>
                        </div>
                    </div>
                </div>
                <div class="features__content col-sm-10">
                    <div class="row">
                        <div class="features__title col-lg-7 col-md-10 col-sm-12">
                            <h2>Why is it so hard to buy Crypto with <br />your hard earned fiat money?</h2>
                        </div>
                        <div class="w-100"></div>
                        <div class="features__descr col-md-12">
                            <div class="row">
                                <div class="features__itemText col-lg-5">
                                    <p>
                                        These ICO's you keep hearing about could be a great investment, but if you don't have Bitcoin or
                                        Ethereum, buying into them in any significant volume is nearly impossible.
                                    </p>
                                    <p>
                                        Medusa coin eliminates the risk faced by traditional acquiring services. As a result it lets you do the
                                        impossible.
                                    </p>
                                </div>
                                <div class="features__briefly col-lg-6 ml-md-auto">
                                    <ul class="features__list">
                                        <li class="features__listItem">
                                            Register with Medusa Coin for free
                                        </li>
                                        <li class="features__listItem">
                                            Submit your ID (KYC)
                                        </li>
                                        <li class="features__listItem">
                                            Buy up to &pound;1m Medusa using your normal debit card
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features__item">
        <div class="container-fluid">
            <div class="row">
                <div class="features__progress col-sm-2">
                    <div class="features__progressBar">
                        <div class="features__progressChart">
                            <svg viewBox="0 0 90 90">
                                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                            </svg>
                            <span class="features__progressNumber">2</span>
                        </div>
                        <div class="features__progressLine">
                            <div class="features__progressLineFill"></div>
                        </div>
                    </div>
                </div>
                <div class="features__content col-sm-10">
                    <div class="row">
                        <div class="features__title col-lg-7 col-md-10 col-sm-12">
                            <h2>Trade Medusa Coins on<br />Assets Exchanges</h2>
                        </div>
                        <div class="w-100"></div>
                        <div class="features__descr col-md-12">
                            <div class="row">
                                <div class="features__itemText col-lg-5">
                                    <p>
                                        These ICO's you keep hearing about could be a great investment, but if you don't have Bitcoin or
                                        Ethereum, buying into them in any significant volume is nearly impossible.
                                    </p>
                                    <p>
                                        Medusa coin eliminates the risk faced by traditional acquiring services. As a result it lets you do the
                                        impossible.
                                    </p>
                                </div>
                                <div class="features__briefly col-lg-6 ml-lg-auto">
                                    <ul class="features__list">
                                        <li class="features__listItem">
                                            Register with Medusa Coin for free
                                        </li>
                                        <li class="features__listItem">
                                            Submit your ID (KYC)
                                        </li>
                                        <li class="features__listItem">
                                            Buy up to &pound;1m Medusa using your normal debit card
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features__item">
        <div class="container-fluid">
            <div class="row">
                <div class="features__progress col-sm-2">
                    <div class="features__progressBar">
                        <div class="features__progressChart">
                            <svg viewBox="0 0 90 90">
                                <path class="features__circleBg" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                                <path class="features__circle" stroke-dasharray="240, 240" d="M45,7c21,0,38,17,38,38S66,83,45,83l0,0C24,83,7,66,7,45C7,24,24,7,45,7"/>
                            </svg>
                            <span class="features__progressNumber">3</span>
                        </div>
                        <div class="features__progressLine">
                            <div class="features__progressLineFill"></div>
                        </div>
                    </div>
                </div>
                <div class="features__content col-sm-10">
                    <div class="row">
                        <div class="features__title col-lg-7 col-md-10 col-sm-12">
                            <h2>All the best ICO's with experts<br />in the industry</h2>
                        </div>
                        <div class="w-100"></div>
                        <div class="features__descr col-md-12">
                            <div class="row">
                                <div class="features__itemText col-lg-5">
                                    <p>
                                        Join our waiting list and we'll let you know when we are ready.
                                    </p>
                                    <p>
                                        Medusa coin eliminates the risk faced by traditional acquiring services. As a result it lets you do the
                                        impossible.
                                    </p>
                                </div>
                                <div class="features__briefly col-lg-6 ml-lg-auto">
                                    <ul class="features__list">
                                        <li class="features__listItem">
                                            Register with Medusa Coin for free
                                        </li>
                                        <li class="features__listItem">
                                            Submit your ID (KYC)
                                        </li>
                                        <li class="features__listItem">
                                            Buy up to &pound;1m Medusa using your normal debit card
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>