<footer class="pageFooter">
  <div class="container-fluid">
    <div class="pageFooter__wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="pageFooter__nav pageFooter__nav--horizontal">
            <ul class="pageFooter__navList">
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Technical Support</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Documentation</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Plans and Pricing</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Blog</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">About us</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Site Status</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter__bottomPanel">
      <div class="row">
        <div class="col-md-8">
          <div class="pageFooter__logo">
            <span></span>
          </div>
          <ul class="pageFooter__navBottom">
            <li class="pageFooter__bottomItem">
              <a href="#" class="pageFooter__bottomLink">Privacy policy</a>
            </li>
            <li class="pageFooter__bottomItem">
              <a href="#" class="pageFooter__bottomLink">Terms of use</a>
            </li>
            <li class="pageFooter__bottomItem">
              <a href="#" class="pageFooter__bottomLink">Trust & security</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 align-self-center">
          <div class="pageFooter__copy">
            &copy; Copyright Medusa Exchange Limited 2018
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>