<footer class="pageFooter">
  <div class="container-fluid">
    <div class="pageFooter__wrapper">
      <div class="row">
        <div class="col-sm-3">
          <div class="pageFooter__nav">
            <div class="pageFooter__navTitle">Medusa Coin</div>
            <ul class="pageFooter__navList">
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Technical Support</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Documentation</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Plans and Pricing</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="pageFooter__nav">
            <div class="pageFooter__navTitle">Resources</div>
            <ul class="pageFooter__navList">
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Blog</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">About us</a>
              </li>
              <li class="pageFooter__navItem">
                <a href="#" class="pageFooter__navLink">Site Status</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pageFooter__navItem">
            <div class="pageFooter__navTitle">Connect with us</div>
            <form action="#" class="pageFooter__form">
              <input type="email" class="pageFooter__input" placeholder="Email adress">
              <button class="pageFooter__btn">Subscribe</button>
            </form>
            <p class="pageFooter__description">The medusa Coins stack helps us plan? communicate and
              collaborate, so that we can focus to more on what we do best:
              creatind great special effects software.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter__bottomPanel">
      <div class="row">
        <div class="col-md-9">
          <div class="pageFooter__logo">
            <span></span>
          </div>
          <ul class="pageFooter__navBottom">
            <li class="pageFooter__bottomItem">
              <a href="#" class="pageFooter__bottomLink">Privacy policy</a>
            </li>
            <li class="pageFooter__bottomItem">
              <a href="#" class="pageFooter__bottomLink">Terms of use</a>
            </li>
            <li class="pageFooter__bottomItem">
              <a href="#" class="pageFooter__bottomLink">Trust & security</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 align-self-center">
          <div class="pageFooter__copy">
            Copyright &copy; 2017
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>