<footer class="page-footer">
    <div class="container-fluid">
        <div class="page-footer__wrap-inner">
            <ul class="page-footer__menu">
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        Tools
                    </a>
                </li>
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        How it works
                    </a>
                </li>
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        FAQ
                    </a>
                </li>
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        Affiliates
                        <span class="badge">Soon</span>
                    </a>
                </li>
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        Support
                    </a>
                </li>
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        About us
                    </a>
                </li>
                <li class="page-footer__menu-item">
                    <a href="#" class="page-footer__menu-link">
                        News
                    </a>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-footer__copy">
                        &copy; 2017
                        <div class="page-footer__copy-links">
                            <a href="#" class="page-footer__copy-link">
                                Coinsnex.com
                            </a>
                            <span class="page-footer__links-separator">|</span>
                            <a href="#" class="page-footer__copy-link">
                                Terms of Use
                            </a>
                            <span class="page-footer__links-separator">|</span>
                            <a href="#" class="page-footer__copy-link">
                                Privacy Policy
                            </a>
                        </div>
                    </div>
                    <ul class="page-footer__social">
                        <li class="page-footer__social-item">
                            <a href="#" class="page-footer__social-link page-footer__social-link--fb">
                                Facebook
                            </a>
                        </li>
                        <li class="page-footer__social-item">
                            <a href="#" class="page-footer__social-link page-footer__social-link--tw">
                                Twitter
                            </a>
                        </li>
                        <li class="page-footer__social-item">
                            <a href="#" class="page-footer__social-link page-footer__social-link--btc">
                                Bitcoin
                            </a>
                        </li>
                        <li class="page-footer__social-item">
                            <a href="#" class="page-footer__social-link page-footer__social-link--rdt">
                                Reddit
                            </a>
                        </li>
                        <li class="page-footer__social-item">
                            <a href="#" class="page-footer__social-link page-footer__social-link--slk">
                                Slack
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <p class="page-footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, qui laudantium dolores rerum provident. Exercitationem officiis aliquam molestiae architecto asperiores necessitatibus, excepturi cupiditate, blanditiis quam voluptatem, sequi, iusto dignissimos eos! Odit consectetur, at repellat quos deserunt optio, accusamus deleniti, incidunt unde in porro. Ipsam ratione odit unde laudantium molestiae earum?
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>