<section class="leadership">
    <div class="container-fluid">
        <div class="row">
            <div class="leadership__title">
                <h2>
                    Leadership
                </h2>
            </div>
            <div class="leadership__descr">
                <p>
                    Join our waiting list and we'll let you know when we are ready. Medusa coin eliminates the risk faced by traditional acquiring services. As a result it lets you do the impossible.
                </p>
            </div>
        </div>
        <div class="leadership__persons">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="leadership__person person ml-sm-auto mr-sm-auto">
                        <div class="person__photo">
                            <img src="../../assets/img/person-1.jpg" alt="person photo">
                        </div>
                        <div class="person__descr">
                            <span class="person__name">Bish Smeir</span>
                            <span class="person__post">Founder</span>
                            <div class="person__about">
                                <p>
                                    Brad is the CEO of Ripple and a member of the Board of Directors. Prior to Ripple, Brad served as the CEO of file collaboration service Hightail. Previously, he was President of Consumer Applications at AOL.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="leadership__person person ml-sm-auto mr-sm-auto">
                        <div class="person__photo">
                            <img src="../../assets/img/person-2.jpg" alt="person photo">
                        </div>
                        <div class="person__descr">
                            <span class="person__name">Paul Teleky</span>
                            <span class="person__post">Managing Director</span>
                            <div class="person__about">
                                <p>
                                    Asheesh is VP of Product for Ripple. Asheesh started his career as an entrepreneur where he founded a content management company that he later sold to Thomson-Reuters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="leadership__person person ml-sm-auto mr-sm-auto">
                        <div class="person__photo">
                            <img src="../../assets/img/person-3.jpg" alt="person photo">
                        </div>
                        <div class="person__descr">
                            <span class="person__name">Rick Astley</span>
                            <span class="person__post">Singer</span>
                            <div class="person__about">
                                <p>
                                    Patrick Griffin is the SVP of Business Development for Ripple. Prior to joining Ripple, Patrick was an early employee of Jumio, an Internet payment and identity company.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="leadership__person person ml-sm-auto mr-sm-auto">
                        <div class="person__photo">
                            <img src="../../assets/img/person-4.jpg" alt="person photo">
                        </div>
                        <div class="person__descr">
                            <span class="person__name">August Ames</span>
                            <span class="person__post">Bald Head</span>
                            <div class="person__about">
                                <p>
                                    Brynly is General Counsel of Ripple. Before joining Ripple, Brynly advised fintech companies and held senior legal positions, including serving as General Counsel to the Small and Medium Business group.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>