<section class="leadership">
  <div class="container-fluid">
    <div class="row">
      <div class="leadership__title">
        <h2>
          Leadership
        </h2>
      </div>
      <div class="leadership__descr">
        <p>
          Our team combines payments, crypto, legal and business experts to bring to market a solution to a pervasive
          problem. We are delighted to be able to bring value to an industry that we feel is key to empowering and
          enabling people everywhere.
        </p>
      </div>
    </div>
    <div class="leadership__persons">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/ryan-mcqueen.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Ryan McQueen</span>
              <span class="person__post">Head of Acquiring</span>
              <div class="person__about">
                <p>
                  Past positions in payments range from Head of Business Transformation, Corporate & Commercial Banking
                  for ANZ bank, Head of Merchant Acquiring at Westpac Banking Corporation, to Vice President and Senior
                  Management at GE Money.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/roland-ham-riche.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Roland Ham Riche</span>
              <span class="person__post">Head of Cards</span>
              <div class="person__about">
                <p>
                  Has over 20 years of experience in the payments industry. He has been engaged as an expert consultant
                  by Vodafone and Lloyds TSB and led the creation of their card programmes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/kannan-hariharan.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Kannan Hariharan</span>
              <span class="person__post">Head of Partnerships</span>
              <div class="person__about">
                <p>
                  14 years experience in customer-facing consulting assignments for Banking and Financial Services -
                  Payments Related Infrastructure – Merchant Services and Acquiring businesses, Transaction Processing
                  and Switching Infrastructure, Card Issuing and ATM/POS Infrastructure Projects.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/paul-teleky.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Paul Teleky</span>
              <span class="person__post">Head of Brokerage</span>
              <div class="person__about">
                <p>
                  Previously as a Broker of Inflation Derivative products for BGC and GFI in London and New York,
                  completed his MBA at CEU and worked at RBS in Structured Risk Solutions servicing internal, corporate
                  and sovereign clients globally.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/bish-smeir.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Bish Smeir</span>
              <span class="person__post">Head of Strategy</span>
              <div class="person__about">
                <p>
                  With a background in payments, marketing, as well as field force provision to clients across multiple
                  sectors he is an entrepreneur and crypto enthusiast.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/andrew-faux.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Andrew Faux</span>
              <span class="person__post">Compliance and Risk <sup>Advisor</sup></span>
              <div class="person__about">
                <p>
                  Over 15 years’ experience in card processing, specialising in high risk accounts and compliance.
                  Former positions include Head of business Development for Worldpay UK.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/marc-frost.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Marc Frost</span>
              <span class="person__post">Payment Gateway  <sup>Advisor</sup></span>
              <div class="person__about">
                <p>
                  With a C level background in corporate banking, finance, payments, retail, and online technology, Marc
                  is known for being supremely results-orientated and for his highly effective communication, sales and
                  sales-management skills.
                </p>
              </div>
            </div>
          </div>
        </div>
        -->
        <div class="col-md-4 col-sm-6">
          <div class="leadership__person person ml-sm-auto mr-sm-auto">
            <div class="person__photo">
              <img src="../../assets/img/team/subash-manuel.jpg" alt="person photo">
            </div>
            <div class="person__descr">
              <span class="person__name">Subash Manuel</span>
              <span class="person__post">Head of Compliance</span>
              <div class="person__about">
                <p>
                  International Attorney and Commissioner of Oaths, dually-qualified in both India and within the Senior
                  Courts of England and Wales, with a Masters in Law and a QLTT from the Oxford Institute of Legal
                  Practice. Expert and thought-leader within the blockchain technology space, and more specifically
                  within the legal regulations and ramifications that surround the industry.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="leadership__line"></div>
  </div>
</section>