<nav class="mdtc__global-nav">
  <div class="container-fluid">
    <ul class="mdtc__nav-root">
      <li class="mdtc__nav-logo">
        <a class="mdtc__nav-logo__link" href="index.html">
          <div class="mdtc__nav-logo__img">
            <span></span>
          </div>
        </a>
      </li>
      <li class="mdtc__menu">
        <div class="mdtc__menu__main-nav">
          <ul class="mdtc__menu__list">
            <li class="mdtc__menu__item" data-dropdown="medusa">
              <a href="index.html" class="mdtc__menu__link">
                <span class="mdtc__menu__link-text">Medusa</span>
              </a>
            </li>
            <li class="mdtc__menu__item" data-dropdown="exchange">
              <a href="exchange.html" class="mdtc__menu__link">
                <span class="mdtc__menu__link-text">Exchange</span>
              </a>
            </li>
            <li class="mdtc__menu__item" data-dropdown="coin">
              <a href="coin.html" class="mdtc__menu__link">
                <span class="mdtc__menu__link-text">Coin</span>
              </a>
            </li>
            <li class="mdtc__menu__item" data-dropdown="ico">
              <a href="token-sale.html" class="mdtc__menu__link">
                <span class="mdtc__menu__link-text">Token Sale</span>
              </a>
            </li>
            <li class="mdtc__menu__item">
              <button href="javascript: void(0);" class="mdtc__menu__link mdtc__menu__link--bordered btn btn--transparent"
                      data-toggle="modal" data-target="#start-modal">
                <span class="mdtc__menu__link-text">Sign up</span>
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="mdtc__mobile-menu">
        <a href="#" class="mdtc__mobile-menu__hamburger">
          <span>Menu</span>
        </a>
        <div class="mdtc__mobile-menu__popup">
          <div class="mdtc__mobile-menu__popup-container">
            <div class="mdtc__mobile-menu__popup-content">
              <a href="#" class="mdtc__mobile-menu__cross">
                <span>Close</span>
              </a>
              <div class="mdtc__mobile-menu__head">
                <span class="mdtc__mobile-menu__head-title">Menu</span>
              </div>
              <div class="mdtc__mobile-menu__nav">
                <ul class="mdtc__mobile-menu__nav-list">
                  <li class="mdtc__mobile-menu__nav-item">
                    <a href="#" class="mdtc__mobile-menu__nav-link">
                      Medusa
                    </a>
                  </li>
                  <li class="mdtc__mobile-menu__nav-item">
                    <a href="#" class="mdtc__mobile-menu__nav-link">
                      Exchange
                    </a>
                  </li>
                  <li class="mdtc__mobile-menu__nav-item">
                    <a href="#" class="mdtc__mobile-menu__nav-link">
                      Coin
                    </a>
                  </li>
                  <li class="mdtc__mobile-menu__nav-item">
                    <a href="#" class="mdtc__mobile-menu__nav-link">
                      ICO
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mdtc__mobile-menu__bottom">
              <a href="#" class="mdtc__mobile-menu__bottom-link" data-toggle="modal" data-target="#start-modal">
                Sign Up
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="mdtc__menu__dropdown-root">
    <div class="mdtc__menu__dropdown-background">
      <div class="mdtc__menu__alternate-background"></div>
    </div>
    <div class="mdtc__menu__dropdown-arrow"></div>
    <div class="mdtc__menu__dropdown-container">
      <div class="mdtc__menu__dropdown-section" data-dropdown="medusa">
        <div class="mdtc__menu__dropdown-content" style="width: 350px; height: 245px;">
          <div class="mdtc__menu__dropdown__link-sets">
            <ul class="mdtc__menu__dropdown__list">
              <li class="mdtc__menu__dropdown__item mdtc__menu__dropdown__item--set-name">Get Started</li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Elements
                </a>
              </li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Checkout
                </a>
              </li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Mobile apps
                </a>
              </li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Libraries
                </a>
              </li>
            </ul>
            <ul class="mdtc__menu__dropdown__list">
              <li class="mdtc__menu__dropdown__item mdtc__menu__dropdown__item--set-name">Popular Topics</li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Apple Pay
                </a>
              </li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Testing
                </a>
              </li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Launch checklist
                </a>
              </li>
              <li class="mdtc__menu__dropdown__item">
                <a href="#" class="mdtc__menu__dropdown__link">
                  Plug-ins
                </a>
              </li>
            </ul>
          </div>
          <div class="mdtc__menu__dropdown__bottom">
            <a href="#" class="mdtc__menu__dropdown__bottom-link">About us</a>
          </div>
        </div>
      </div>
      <div class="mdtc__menu__dropdown-section" data-dropdown="exchange">
        <div class="mdtc__menu__dropdown-content" style="width: 368px; height: 280px;">
          <p></p>
        </div>
      </div>
      <div class="mdtc__menu__dropdown-section" data-dropdown="coin">
        <div class="mdtc__menu__dropdown-content" style="width: 422px; height: 346px;">
          <p></p>
        </div>
      </div>
      <div class="mdtc__menu__dropdown-section" data-dropdown="ico">
        <div class="mdtc__menu__dropdown-content" style="width: 422px; height: 346px;">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</nav>