<div class="roadmap">
  <div class="container-fluid">
    <div class="row">
      <div class="roadmap__title">
        <h2>
          Medusa Coin Roadmap
        </h2>
      </div>
      <div class="roadmap__descr">
        <p>
          We are excited at the additional value that the Medusa concept can bring to the crypto industry. We have just
          begun our project and have many exciting developments on the way. Below are our plans for the road ahead.
        </p>
      </div>
    </div>
    <div class="roadmap__wrapper">
      <div class="roadmap__line"></div>
      <div class="roadmap__leftItems">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              October 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Crypto market problem identified
              <br/>
              Problem validated
              <br/>
              Demand for a solution established
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              November 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Company formed
              <br/>
              Ultra high value payment solution defined
              <br/>
              Coin specifications detailed
              <br/>
              Legality checked
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              January 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Processes clarified and Escrow partner engaged
              <br/>
              White paper and website produced
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              February 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Payment solution specced and gateway built
              <br/>
              Token created, wallets enabled, cold storage ready
              <br/>
              Website launched and presale commences
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              March 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Website goes live
              <br/>
              Presale continues
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              April 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              ICO Round 1
              <br/>
              20m tokens available @ $0.50
              <br/>
              First Medusa crypto private placements (CPP) commence
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--7">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              May 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Marketing to new investors
              <br/>
              Marketing to new ICOs
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--8">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              June 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              ICO round 2 begins
              <br/>
              50m tokens available @ $1
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--9">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              August / September 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              External exchanges launch
              <br/>
              Token target price $3 - $5
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--10">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              December 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa Exchange version 2
              <br/>
              Exit from crypto to fiat using ATM network
            </p>
          </div>
        </div>
      </div>
      <div class="roadmap__rightItems">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              October 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Crypto market problem identified
              <br/>
              Problem validated
              <br/>
              Demand for a solution established
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              November 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Company formed
              <br/>
              Ultra high value payment solution defined
              <br/>
              Coin specifications detailed
              <br/>
              Legality checked
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              January 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Processes clarified and Escrow partner engaged
              <br/>
              White paper and website produced
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              February 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Payment solution specced and Medusa gateway built
              <br/>
              Token created, wallets enabled, cold storage ready
              <br/>
              Website launched and presale commences
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              March 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Website goes live
              <br/>
              Presale continues
              <br/>
              <br/>
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              April 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              ICO Round 1
              <br/>
              20m tokens available @ $0.50
              <br/>
              First Medusa crypto private placements (CPP) commence
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--7">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              May 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Marketing to new investors
              <br/>
              Marketing to new ICOs
              <br/>
              <br/>
              <br/>
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--8">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              June 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              ICO round 2 begins
              <br/>
              50m tokens available @ $1
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--9">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              August / September 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              External exchanges launch
              <br/>
              Token target price $3 - $5
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--10">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              December 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa Exchange version 2
              <br/>
              Exit from crypto to fiat using ATM network
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
