<div class="roadmap">
  <div class="container-fluid">
    <div class="row">
      <div class="roadmap__title">
        <h2>
          Medusa Coin Roadmap
        </h2>
      </div>
      <div class="roadmap__descr">
        <p>
          We are excited at the additional value that the Medusa concept can bring to the crypto industry. We have just
          begun our project and have many exciting developments on the way. Below are our plans for the road ahead.
        </p>
      </div>
    </div>
    <div class="roadmap__wrapper">
      <div class="roadmap__line"></div>
      <div class="roadmap__leftItems">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              November 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Demand established, market study completed, company formed.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              January 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Consultants engaged and they hold initial meetings with card schemes and
              acquirers to identify the Medusa solution.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              February 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Ultra high value payment solution defined, Core team of advisors are engaged.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              March 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Commercial plans finalised. Initial legal reviews. Processes clarified and escrow
              partners engaged.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              April 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Banks agree to ultra high trading deposits.
              Insurance policies confirmed.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              May 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa token created. Wallets enabled and cold storage ready.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--7">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              June 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Draft White Paper released and circulated to advisors for comments.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--8">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              July 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Final legal checks, final White Paper. Website and social media presence begins.
              Marketing partnerships engaged.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--9">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              August 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Token sale begins, client waiting list begins.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--10">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              December 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Agent network in full rollout. Medusa service ready for trading.
            </p>
          </div>
        </div>
      </div>
      <div class="roadmap__rightItems">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              November 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Demand established, market study completed, company formed.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              January 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Consultants engaged and they hold initial meetings with card schemes and
              acquirers to identify the Medusa solution.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              February 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Ultra high value payment solution defined, Core team of advisors are engaged.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              March 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Commercial plans finalised. Initial legal reviews. Processes clarified and escrow
              partners engaged.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              April 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Banks agree to ultra high trading deposits.
              Insurance policies confirmed.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              May 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa token created. Wallets enabled and cold storage ready.
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--7">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              June 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Draft White Paper released and circulated to advisors for comments
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--8">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              July 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Final legal checks, final White Paper. Website and social media presence begins.
              Marketing partnerships engaged
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--9">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              August 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Token sale begins, client waiting list begins
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--10">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              December 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Agent network in full rollout. Medusa service ready for trading.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
