<div class="roadmap">
  <div class="container-fluid">
    <div class="row">
      <div class="roadmap__title">
        <h2>
          Medusa Coin Roadmap
        </h2>
      </div>
      <div class="roadmap__descr">
        <p>
          We are excited at the additional value that the Medusa concept can bring to the crypto industry. We have just
          begun our project and have many exciting developments on the way. Below are our plans for the road ahead.
        </p>
      </div>
    </div>
    <div class="roadmap__wrapper">
      <div class="roadmap__line"></div>
      <div class="roadmap__leftItems">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              November 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Demand established
              <br/>
              Market study completed
              <br/>
              Company formed
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              January 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Initial meetings with card schemes and acquirers
              <br/>
              Ultra high value payment solution defined
              <br/>
              Team is formed
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              February 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Commercial plans finalised
              <br/>
              Initial legal reviews
              <br />
              Website started
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              March 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Processes clarified and escrow partners engaged
              <br/>
              Banks agree to ultra high trading deposits
              <br/>
              Payment solution and gateway prepared
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              April 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Insurance policies confirmed
              <br/>
              Plans formalised for card schemes and acquirers
              <br />
              Website complete March 2018
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              May 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa token created, wallets enabled, cold storage ready
              <br/>
              First external exchange confirmed
              <br/>
              KYC partners engaged
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--7">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              June 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Final white paper released
              <br/>
              Final legal checks
              <br />
              Presale investors informed
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--8">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              July 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Presale begins
              <br/>
              Full card solution live
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--9">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              October 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Token sale begins
              <br/>
              Trading commences for waiting list
              <br/>
              Medusa exchange live
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--10">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              December 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa service commences
            </p>
          </div>
        </div>
      </div>
      <div class="roadmap__rightItems">
        <div class="roadmap__item roadmap__item--1">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              November 2017
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Demand established
              <br/>
              Market study completed
              <br/>
              Company formed
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--2">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              January 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Initial meetings with card schemes and acquirers
              <br/>
              Ultra high value payment solution defined
              <br/>
              Team is formed
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--3">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              February 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Commercial plans finalised
              <br/>
              Initial legal reviews
              <br />
              Website started
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--4">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              March 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Processes clarified and escrow partners engaged
              <br/>
              Banks agree to ultra high trading deposits
              <br/>
              Payment solution and gateway prepared
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--5">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              April 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Insurance policies confirmed
              <br/>
              Plans formalised for card schemes and acquirers
              <br />
              Website complete March 2018
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--6">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              May 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa token created, wallets enabled, cold storage ready
              <br/>
              First external exchange confirmed
              <br/>
              KYC partners engaged
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--7">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              June 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Final white paper released
              <br/>
              Final legal checks
              <br />
              Presale investors informed
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--8">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              July 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Presale begins
              <br/>
              Full card solution live
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--9">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              October 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Token sale begins
              <br/>
              Trading commences for waiting list
              <br/>
              Medusa exchange live
            </p>
          </div>
        </div>
        <div class="roadmap__item roadmap__item--10">
          <div class="roadmap__itemNameWrap">
            <div class="roadmap__itemName">
              December 2018
              <div class="roadmap__itemSeparator">
                <span></span>
              </div>
              <div class="roadmap__itemDots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!--
          <div class="roadmap__itemTitle">
            <h3></h3>
          </div>
          -->
          <div class="roadmap__itemDescr">
            <p>
              Medusa service commences
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
