$white: #fff;
$black: #090f25;
$blue: #371be1;
$blue-lighten: lighten($blue, 6%);



$text: #5c6689;
$gray: #f2f5fa;
$gray_accent: #5c6689;
$border: #dadee4;
$green: #46be8a;
$red: #fb434a;
$blue-dark: #071437;
$purple-pale: #f7f6fb;
$purple: #f5f0f5;
$purple-light: #f6f4fb;

$gray-purple: #807c94;

$gr1-1: #1d7baf;
$gr1-2: #f6348d;

$gr2-1: #0767c9;
$gr2-2: #ac32b0;

$base__font-family: 'Montserrat', sans-serif;
$base__font-size: 14 !default;

$xxl-min-width: 1600px;
$xxl-max-width: 1599px;
$xl-min-width: 1200px;
$xl-max-width: 1199px;
$md-min-width: 992px;
$md-max-width: 991px;
$sm-min-width: 768px;
$sm-max-width: 767px;
$xs-min-width: 544px;
$xs-max-width: 543px;


@mixin transition-fast() {
    transition: all 0.05s ease-in-out;
}
@mixin transition-middle() {
    transition: all 0.1s ease-in-out;
}
@mixin transition-slow() {
    transition: all 0.2s ease-in-out;
}
@mixin transition-very-slow() {
    transition: all 0.4s ease-in-out;
}
@mixin transition-color() {
    transition: color 0.2s ease-in-out;
}

@function rem($px, $base: $base__font-size) {
    @return #{$px/$base}rem;
}