html {
    font-size: 14px;
    @media (max-width: $xl-max-width) {
        font-size: 13px;
    }
    @media (max-width: $sm-max-width) {
        font-size: 12px;
    }
}

body {
    font-family: $base__font-family;
    color: $black;
    background: $white;
    padding-right: 0 !important;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $black;
    @include transition-color();
    &:hover, &:active, &:focus {
        color: $black;
        text-decoration: none;
    }
}

input {
    outline: none !important;
    color: $black;
}

button, input {
    box-shadow: none !important;
}

input[type=text], input[type=password], input[type=email], textarea {
    appearance: none !important;
}

.container-fluid {
    max-width: 1400px;
}

.block-header {
  padding-top: 67px;
  padding-bottom: 30px;

  @media (max-width: $xl-max-width) {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  @media (max-width: $md-max-width) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.badge {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: rem(11);
    line-height: rem(11);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
    margin-left: 4px;
    font-weight: 700;
    background-color: #2e1440;
    border-radius: 2px;
}