html {
  font-size: 12px;
  @media (max-width: $md-max-width) {
    font-size: 11px;
  }
}

body {
  font-family: $base__font-family;
  color: $black;
  background: $white;
  font-weight: 300;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $black;
  @include transition-color();
  &:hover, &:active, &:focus {
    color: $black;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  color: $black;
}

button, input {
  box-shadow: none !important;
}

input[type=text], input[type=password], input[type=email], textarea {
  appearance: none !important;
}

.container-fluid {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;

  @media(max-width: $md-max-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.block-header {
  padding-top: 67px;
  padding-bottom: 30px;

  @media (max-width: $xl-max-width) {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  @media (max-width: $md-max-width) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.badge {
  display: inline-block;
  text-transform: uppercase;
  color: $black;
  font-size: rem(14);
  line-height: 1;
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-left: rem(14);
  padding-right: rem(14);
  vertical-align: top;
  background-color: $purple-light;
  border-radius: 4px;

  &--pink {
    color: $white;
    background-color: $pink;
  }

  &--op7 {
    opacity: 0.7;
  }

  &--op6 {
    opacity: 0.6;
  }
  &--op5 {
    opacity: 0.5;
  }
  &--op4 {
    opacity: 0.4;
  }

}

.list {
  margin: 0;
  padding: 0;

  &--unordered {
    list-style: none;
    li {
      &::before {
        content: '—';
      }
    }
  }

  &--ordered {
    padding-left: 15px;
  }

  li {
    color: $gray-purple;
    font-size: rem(16);
    line-height: rem(36);
  }
}

.partition {
  margin-bottom: rem(60);

  &__title {
    font-weight: 700;
    color: $black;
    font-size: rem(18);
    line-height: rem(28);
    text-transform: uppercase;
  }
}

.title {
  margin-bottom: rem(50);

  @media(max-width: $md-max-width) {
    margin-bottom: rem(30);
  }

  h3 {
    color: $black;
    font-size: rem(22);
    line-height: rem(28);
    font-weight: 900;
  }
}

.bold {
  font-weight: 700;
}

.table {

  td {
    font-size: rem(15);
    line-height: rem(28);
  }

  &--unborderedTop {
    tr, th {
      &:first-child {
        td {
          border: none;
        }
      }
    }
  }

  &__data {

    &--bold {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.ct-label {
  font-size: 14px !important;
  font-weight: bold;
  fill: #fff !important;
}

.ct-chart, .ct-chart-2 {
  height: 340px;
  padding-top: 90px;

  @media (max-width: $md-max-width) {
    padding-top: 10px;
  }
}

.ct-series-a .ct-slice-donut-solid {
  fill: #371be1 !important;
}
.ct-series-b .ct-slice-donut-solid {
  fill: #f3cb0b !important;
}
.ct-series-c .ct-slice-donut-solid {
  fill: #b8bcc1 !important;
}
.ct-series-d .ct-slice-donut-solid {
  fill: #7c9797 !important;
}
.ct-series-e .ct-slice-donut-solid {
  fill: #486f97 !important;
}
.ct-series-f .ct-slice-donut-solid {
  fill: #f6a613 !important;
}

.bg-a {
  background: #371be1 !important;
}

.bg-b {
  background: #f3cb0b !important;
}

.bg-c {
  background: #b8bcc1 !important;
}

.bg-d {
  background: #7c9797 !important;
}

.bg-e {
  background: #486f97 !important;
}

.bg-f {
  background: #f6a613 !important;
}

.chart-label {
  display: inline-block;
  width: 20px;
  height: 12px;
  background: $gray;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

div.datepicker-top-left,
div.datepicker-top-right {
    border-top-color: $blue;

    &::before {
          border-bottom-color: $blue;
    }
}

.nav-pills-custom {
  .nav-link {
    margin-right: rem(20);
    margin-bottom: rem(20);
    font-size: rem(16);
    font-weight: bold;
    background: $purple-light;

    &.active {
      background: $blue;
    }
  }
  li:last-child {
    .nav-link {
      margin-right: 0;
    }
  }
}

.color-blue {
  color: $blue;
}

b, strong {
  font-weight: bold;
}