html {
  font-size: 13px;
  @media (max-width: $xl-max-width) {
    font-size: 12px;
  }
  @media (max-width: $sm-max-width) {
    font-size: 11px;
  }
}

body {
  font-family: $base__font-family;
  color: $black;
  background: $white;
  font-weight: 300;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $black;
  @include transition-color();
  &:hover, &:active, &:focus {
    color: $black;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  color: $black;
}

button, input {
  box-shadow: none !important;
}

input[type=text], input[type=password], input[type=email], textarea {
  appearance: none !important;
}

.container-fluid {
  max-width: 1400px;
  padding-left: 40px;
  padding-right: 40px;

  @media(max-width: $md-max-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.block-header {
  padding-top: 67px;
  padding-bottom: 30px;

  @media (max-width: $xl-max-width) {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  @media (max-width: $md-max-width) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.badge {
  display: inline-block;
  text-transform: uppercase;
  color: $black;
  font-size: rem(14);
  line-height: 1;
  padding-top: rem(5);
  padding-bottom: rem(5);
  padding-left: rem(14);
  padding-right: rem(14);
  vertical-align: top;
  background-color: $purple-light;
  border-radius: 4px;
}

.list {
  margin: 0;
  padding: 0;

  &--unordered {
    list-style: none;
    li {
      &::before {
        content: '—';
      }
    }
  }

  &--ordered {
    padding-left: 15px;
  }

  li {
    color: $gray-purple;
    font-size: rem(16);
    line-height: rem(36);
  }
}

.partition {
  margin-bottom: rem(60);

  &__title {
    font-weight: 700;
    color: $black;
    font-size: rem(18);
    line-height: rem(28);
    text-transform: uppercase;
    margin-bottom: rem(40);
  }
}

.title {
  margin-bottom: rem(50);

  h3 {
    color: $black;
    font-size: rem(22);
    line-height: rem(18);
    font-weight: 700;
  }
}